//Primary colors
$PRIMARY_TEXT_COLOR:#959599;
$PRIMARY_HOVER_TEXT_COLOR: #D5D5D5;
$PRIMARY_BACKGROUND_COLOR:#1A1A1A;
$PRIMARY_HEADER_COLOR: #282828;
$PRIMARY_HEADER_BOTTOM_BORDER_COLOR: #19B2B9;
$PRIMARY_HOVER_HEADER_BOTTOM_BORDER_COLOR: #CB88FF;
$PRIMARY_CONTAINER_BACKGROUND_COLOR: #282828;
$PRIMARY_ICON_COLOR: #19B2B9;

//Secondary colors
$SECONDARY_TEXT_COLOR: white;

//Tab colors
$TAB_UNDERLINE_COLOR: #A5C9CA;