@import "utils/colors.scss";

.user-profile-link{
    text-decoration: none;
    color: $PRIMARY_TEXT_COLOR
}

.user-profile-link:hover{
    text-decoration: none;
    color: $PRIMARY_HOVER_TEXT_COLOR;
    transition: 700ms
}