@import '../../utils/colors.scss';

#app_icon {
   width: 65px;
}

.active {
  border-bottom: 1px solid $PRIMARY_HEADER_BOTTOM_BORDER_COLOR;
  box-shadow: 0 5px 8px -8px $PRIMARY_HEADER_BOTTOM_BORDER_COLOR;

}

.active:hover {
  border-bottom: 1px solid $PRIMARY_HOVER_HEADER_BOTTOM_BORDER_COLOR;
  box-shadow: 0 7px 8px -8px $PRIMARY_HOVER_HEADER_BOTTOM_BORDER_COLOR;
}

.global-alert-banner{
  position: relative;
  top:1px;
  border-radius:0 !important;
  height: 40px;
  font-size: 15px !important;
}

#username-link-text{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important; 
}